<h1> Edit Authors </h1>

<%= @author.errors.messages.each do |name, message| %>
   <p class="bg-danger"><%name %><%=message.first %></p>
<% end %>

<%= form_tag "/authors/#{@author.id}", method: :put do%>
    <%= render 'form' %>
<%end%>